.App {
  text-align: center;
  font-family: Arial, sans-serif;
}


body {
  background-image: url('C:\Users\91975\Pictures\Profile\one.png');
}
textarea {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 16px;
  position: relative; 
  top: -55px;  
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
}

h2 {
  color: #4caf50;
}
